<a href="#<%= modal_name %>" id="<%= modal_name %>-btn" id="hvr-glow" data-toggle="modal"><%= modal_text %></a>

<!-- Modal HTML -->
<div id="<%= modal_name %>" class="modal fade">
  <div class="modal-dialog">
    <iframe width="560" height="315" src="<%= modal_video %>" frameborder="0" allowfullscreen></iframe>
  </div>
</div>